<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/layoutpage.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="header-top">
            <div class="nav">
                <ul>
                    <li>
                        <a href="/GioHang/GioHang">Giỏ hàng</a>
                    </li>
                    <li>
                        <a href="/Home/DangNhap">Đăng nhập</a>
                    </li>
                    <li>
                        <a href="/Home/DangKy">Đăng ký</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-middle">
            <div class="left">
                <i class="fa fa-bars" aria-hidden="true"></i>
                <span><a href="/Home/SanPham">Tất cả phụ kiện</a></span>
            </div>
            <div class="center">
                <form action="/HangHoa/SearchSanPham">
                    <input type="text" name="txt_search" placeholder="Tìm kiếm thiết bị..." />
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm</button>
                </form>
            </div>
            <div class="right">
                <div class="shopping">
                    <ul>
                        <li>
                            <a href="/GioHang/GioHang"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <ul>
                <li>
                    <a href="/Home/TrangChu">TRANG CHỦ</a>
                </li>
                <li>
                    <a href="/Home/SanPham">SẢN PHẨM</a>
                </li>
                <li>
                    <a href="/Home/TinTuc">TIN TỨC</a>
                </li>
                <li>
                    <a href="/Home/GioiThieu">GIỚI THIỆU</a>
                </li>
                <li>
                    <a href="/Home/LienHe">LIÊN HỆ</a>
                </li>
            </ul>
        </div>
        <div class="main">
            @RenderBody()
        </div>
        <div class="footer">
            <div class="content-about">
                <h2>Về Chúng Tôi</h2>
                <p>Nhóm chúng mình là nhóm 03 môn Lập Trình Web</p>
                <ul class="social-icon">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube "></i></a></li>
                </ul>
            </div>
            <div class="content-links">
                <h2>Đường Dẫn</h2>
                <ul>
                    <li><a href="#">Trang Chủ</a></li>
                    <li><a href="#">Về Chúng Tôi</a></li>
                    <li><a href="#">Thông Tin Liên Lạc</a></li>
                    <li><a href="#">Dịch Vụ</a></li>
                    <li><a href="#">Điều Kiện Chính Sách</a></li>
                </ul>
            </div>
            <div class="content-contact">
                <h2>Thông Tin Liên Hệ</h2>
                <ul>
                    <li>
                        <span><i class="fa fa-map-marker"></i></span>
                        <span>140 Lê Trọng Tấn, Quận Tân Phú, Thành phố Hồ Chí Minh, Việt Nam </span>
                    </li>
                    <li>
                        <span><i class="fa fa-phone"></i></span>
                        <p>
                            <a href="#">+84 123 456 789</a>
                            <br />
                            <a href="#">+84 987 654 321</a>
                        </p>
                    </li>
                    <li>
                        <span><i class="fa fa-envelope"></i></span>
                        <p><a href="#">diachiemail@gmail.com</a></p>
                    </li>
                    <li>
                        <form class="form">
                            <input type="email" class="form-input-email" placeholder="Đăng Ký Subscribe Email" />
                            <button type="button" class="btn btn--primary  uppercase">Gửi</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
