
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Admin</title>
</head>
<br>
@Html.ActionLink("Database Nhóm Hàng", "Index", "NhomHang")
<br>
@Html.ActionLink("Database Hàng Hóa", "Index", "HangHoa")
<br>
@Html.ActionLink("Database Nhân Viên", "Index", "NhanVien")
<br>

