
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<head>
    <link href="~/Content/dangky.css" rel="stylesheet" />
    <title>Đăng ký</title>
</head>
<div class="dangkytaikhoan">
    <h3>ĐĂNG KÝ TÀI KHOẢN</h3>
    <form>
        <div class="row">
            <div class="left">
                <label id="title">THÔNG TIN TÀI KHOẢN</label>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <label>Tài khoản: <span>(*)</span></label>
            </div>
            <div class="right">
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="left">
                <label>Email: <span>(*)</span></label>
            </div>
            <div class="right">
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="left">
                <label>Mật khẩu: <span>(*)</span></label>
            </div>
            <div class="right">
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="left">
                <label>Nhập lại mật khẩu: <span>(*)</span></label>
            </div>
            <div class="right">
                <input type="text" />
            </div>
        </div>

        <div class="row">
            <div class="left">
                <label id="title">THÔNG TIN CÁ NHÂN</label>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <label>Họ tên: <span>(*)</span></label>
            </div>
            <div class="right">
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="left">
                <label>Giới tính:</label>
            </div>
            <div class="right">
                <select>
                    <option hidden>--Chọn giới tính--</option>
                    <option>Nam</option>
                    <option>Nữ</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <label>Ngày sinh:</label>
            </div>
            <div class="right">
                <select style="width:100px;">
                    <option hidden>--Ngày--</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                </select>
                <select style="width:100px;">
                    <option hidden>--Tháng--</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                <select style="width:100px;">
                    <option hidden>--Năm--</option>
                    <option>2000</option>
                    <option>2001</option>
                    <option>2002</option>
                    <option>2003</option>
                    <option>2004</option>
                    <option>2005</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <label>Điện thoại: </label>
            </div>
            <div class="right">
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="left">
                <label>Địa chỉ: </label>
            </div>
            <div class="right">
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <button>ĐĂNG KÝ</button>
        </div>
    </form>
</div>

