
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<head>
    <link href="~/Content/gioithieu.css" rel="stylesheet" />
    <title>Giới thiệu</title>
</head>
<body>
    <div class="gioithieu">
        <h3>VỀ CHÚNG TÔI</h3>
        <p>Ra đời vào cuối năm 2022, Nhom03.Com đã sớm có một vị trí vững chắc trên thị trường thương mại điện tử trong nước, trở thành địa chỉ mua sắm online đầy tin cậy, tiện lợi cho khách hàng tại TP.HCM và các tỉnh thành khác trên toàn quốc.</p>
        <p>Nhom03.Com là một website thời trang online, phục vụ nhu cầu mua sắm trực tuyến bao gồm: chọn và mua hàng trực tuyến nhanh chóng, thanh toán trực tuyến an toàn, giao hàng tận nơi, chăm sóc và tư vấn thân thiện. Với mong muốn đem đến cho khách hàng những sản phẩm chất lượng,thời trang với giá cả hơp lý nhất, mang ứng dụng cao, hiện đại, năng động, phù hợp với văn hóa, gu thẩm mỹ của người Việt Nam.</p>

        <h4>Tầm nhìn:</h4>
        <p>Nhom03.Com mong muốn trở thành website cung cấp những sản phẩm thời trang uy tín, chất lượng và tốt nhất cho quý khách hàng. Đưa website Nhom03.Com trở thành nơi mua sắm trực tuyến ưa thích và thường xuyên của khách hàng.</p>

        <h4>Sứ mệnh:</h4>
        <p>Sản phẩm trên Nhom03.Com là những sản phẩm của thời trang hiện đại  mang tính hữu dụng để mọi người có thể tự do kết hợp và sáng tạo chúng trong phong cách độc đáo riêng của từng người mà không phân biệt tuổi tác và ngành nghề. Mỗi sản phẩm được đăng trên website SieuMua.Com đều được tuyển chọn và bảo đảm chất lượng, và chúng tôi hi vọng đó cũng sẽ là món quà ý nghĩa để bạn giành cho những người thân yêu nhất.</p>

        <h4>Sản phẩm chủ đạo của chúng tôi là:</h4>
        <p>- Các sản phẩm thời trang nam nữ, bao gồm: Máy tính, điện thoại, phụ kiên... với mẫu mã đa dạng, đảm bảo phù hợp túi tiền của quý khách.</p>
        <p>Các sản phẩm của chúng tôi đều được nhập từ các nhà cung cấp uy tín,làm từ các chất liệu tốt, đáp ứng đầy đủ các yêu cầu và chất lượng sản phẩm. Ngoài ra Nhom03.Com luôn cố gắng khai thác thêm nhiều mẫu mã, đảm bảo được sự đa dạng và độc đáo của mỗi sản phẩm khi xuất hiện trên website Nhom03.Com. Chúng tôi sẽ luôn đáp ứng nhằm phục vụ các Quý khách một cách tốt nhất.</p>
        <p>Đặt mục tiêu trở thành một trung tâm mua sắm trực tuyến hàng đầu tại Việt Nam về các sản phẩm dẫn đầu về uy tín, chất lượng và dịch vụ, Nhom03 cam kết:</p>
        <p>
            - Cung cấp các sản phẩm - dịch vụ chất lượng tốt, giá cả phù hợp với túi tiền người tiêu dùng. <br />
            - Các sản phẩm được kiểm tra, sàng lọc kỹ càng, đảm bảo an toàn cho sức khỏe cho người sử dụng. <br />
            - Bảo hành nghiêm túc theo quy định của nhà sản xuất. <br />
            - Được đổi, trả hàng trong vòng 15 ngày hoàn toàn miễn phí. <br />
            - Tư vấn, hướng dẫn sử dụng với từng sản phẩm, đặc biệt với các sản phẩm chuyên dụng.
        </p>
        <p id="last"> Với các tiêu chí về chất lượng và một đội ngũ năng động, nhiệt tình, giàu kinh nghiệm, Nhom03.Com nhất định sẽ là điểm mua sắm lý tưởng cho các đối tượng khách hàng trên cả nước, nhanh gọn, an toàn và tiết kiệm thời gian hiệu quả.</p>
    </div>
</body>

