
@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<head>
    <link href="~/Content/tintuc.css" rel="stylesheet" />
    <title>Tin tức</title>
</head>
<body>
    <div class="tintuc">
        <h3>TIN TỨC</h3>
        <div class="cot">
            <div class="cactintuc">
                <div class="row">
                    <div class="trai">
                        <img src="~/Images/TinTuc/tintuc_1.png" style="width:208px; height:130px" />
                    </div>
                    <div class="phai">
                        <h4><a href="#">NHÀ BÁN LẺ LO 'MẤT TẾT' VÌ APPLE TRỄ HẸN</a></h4>
                        <p class="date">08/11/2022</p>
                        <p>
                            Kế hoạch kinh doanh, mục tiêu doanh thu, mở rộng của nhiều nhà bán lẻ trong nước có khả năng đổ vỡ nếu Apple tiếp tục trễ hẹn với iPhone 14.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="trai">
                        <img src="~/Images/TinTuc/tintuc_2.png" style="width:208px; height:130px" />
                    </div>
                    <div class="phai">
                        <h4><a href="#">SAN FRANCISCO NGỪNG KẾ HOẠCH SỬ DỤNG ROBOT TIÊU DIỆT TỘI PHẠM</a></h4>
                        <p class="date">08/12/2022</p>
                        <p>
                            Trong cuộc bỏ phiếu ngày 6/12, hội đồng giám sát thành phố San Francisco (Mỹ) quyết định tạm ngừng áp dụng chính sách cho phép cảnh sát sử dụng robot gây chết người trong những trường hợp đặc biệt.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="trai">
                        <img src="~/Images/TinTuc/tintuc_3.png" style="width:208px; height:130px" />
                    </div>
                    <div class="phai">
                        <h4><a href="#">SMARTPHONE VẪN LÀ 'VUA' CỦA MỌI THIẾT BỊ CÔNG NGHỆ</a></h4>
                        <p class="date">28/11/2022</p>
                        <p>
                            Vẫn chưa có thiết bị điện tử tiêu dùng nào có thể vượt qua điện thoại thông minh về mức độ tiện ích cho người dùng, cũng như khả năng kiếm lời cho nhà sản xuất.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="trai">
                        <img src="~/Images/TinTuc/tintuc_4.png" style="width:208px; height:130px" />
                    </div>
                    <div class="phai">
                        <h4><a href="#">MẪU AIRPODS CŨ THÀNH CÔNG TẠI VIỆT NAM</a></h4>
                        <p class="date">07/12/2022</p>
                        <p>
                            Mẫu AirPods 2 được ra mắt thị trường Việt Nam vào tháng 5/2019. Khi đó, mức giá niêm yết của AirPods 2 phiên bản hộp sạc có dây là 5,99 triệu đồng và phiên bản hộp sạc không dây là 6,9 triệu đồng.
                        </p>
                    </div>
                </div>
                <div class="row" id="last">
                    <div class="trai">
                        <img src="~/Images/TinTuc/tintuc_5.png" style="width:208px; height:130px" />
                    </div>
                    <div class="phai">
                        <h4><a href="#">MẪU IPAD ĐƯỢC QUAN TÂM TẠI VIỆT NAM</a></h4>
                        <p class="date">02/12/2022</p>
                        <p>
                            Dù không có thay đổi về thiết kế so với iPad Pro M1, iPad Pro M2 vẫn nhận được sự quan tâm lớn từ người dùng nhờ nâng cấp mạnh về cấu hình.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

