@model WebBanHang.Models.NhomHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi Tiết</h2>

<div>
    <h4>NhomHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã nhóm:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaNhom)
        </dd>

        <dt>
            Tên nhóm:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenNhom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaNhom }) |
    @Html.ActionLink("Quay trở lại", "Index")
</p>
